{% extends 'blank_base.html' %}
{% load i18n %}
{% load allauth account %}
{% block title %}Reset Password | SnorkelMap{% endblock %}
{% load static %}

{% block content %}
<div class="login-flex">
    <div class="login-flex__themic-image-cont">
    </div>
    <div class="login-flex__form-cont">
        <a href="{{ request.scheme }}://{{ request.get_host }}/">
            <img class="login-flex__logo" src="{% static 'images/snorkelmap-logo.svg' %}" alt="SnorkelMap Logo">
        </a>
        <h1>{% trans "Reset Password" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your email address below and we will send you a link to reset it." %}</p>

        <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_div }}
        {{ redirect_field }}
        <button type="submit">{% trans "Reset Password" %}</button>
        </form>

        <div class="login-flex__signup">
            <span>{% trans "Remembered it?" %} </span><a href="{% url 'sm_login' %}">{% trans "Back to Login" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}