

{% extends 'blank_base.html' %}
{% load i18n %}
{% load allauth account %}
{% block title %}Create a SnorkelMap account{% endblock %}
{% load static %}

{% block content %}
<div class="login-flex">
    <div class="login-flex__themic-image-cont">
    </div>
    <div class="login-flex__form-cont">
        <a href="{{ request.scheme }}://{{ request.get_host }}/">
            <img class="login-flex__logo" src="{% static 'images/snorkelmap-logo.svg' %}" alt="SnorkelMap Logo">
        </a>
        <h1>Sign Up</h1>

        <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_div }}
        <button id="sm-signup-btn" type="submit">{% trans "Sign Up" %}</button>
        </form>

        <div class="login-flex__forgot-link">
            Already have an account?&nbsp<a href="{% url 'account_login' %}">{% trans "Login" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}